extends layout
block content
    section.loginHeader
        div.loginImage
    section.loginContent
        div.container
            h3.serviceHeading Petro-Logistics Login
            div.row
                div.col-lg-6.col-md-6.col-sm-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-0.loginFormContainer
                    form.loginForm
                        div.form-group
                            input.contact-input.form-control(placeholder="Username", type="text", required)
                        div.form-group
                            input.contact-input.form-control(placeholder="Password", type="password", required)   
                        div.form-group
                            input.submit-btn.form-control(type="submit", value="LOGIN")
    section.footerBlock
        include footer