doctype html
html
  head
    title= title
    meta( name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/script.js')
        
  body
    
    nav.navbar.navbar-default.navbar-static-top(role='navigation')
      div.container
          div.navbar-header
            button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").collapsed.navbar-toggle
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='#').navbar-brand
                img(alt='logo' src='/images/logo.png')

          div#bs-example-navbar-collapse-1.collapse.navbar-collapse
   
            ul.nav.navbar-nav.navbar-right              
              
              li: a(href='/') home
              li: a(href='/about') about
              li: a(href='/history') history
              li.dropdown
                a(href='#',data-toggle='dropdown').dropdown-toggle services
                  b.caret
                ul.dropdown-menu
                  li: a(href='#') link
                  li: a(href='#') link
                  li: a(href='#') link 
              li: a(href='#') contact
              li: a(href='#') posts
              li: a.clientArea(href='#') client area
    block content   