extends layout
block content
    section.postsHeader
        div.postsImage
    section.postsContent
        div.container.postsContainer
            div.row
                div.col-lg-12.col-md-12
                    h3.serviceHeading Posts

                    div.row.post-row
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post/1")
                                img(src="images/post_icon.png")
                                h3.postHeading Will they or won't they
                                p.postText November 30 will see the 171st Meeting of the Conference of the Organisation of the Petroleum Exporting Countries (OPEC) take place in Vienna. Pressure has been steadily building for OPEC to...
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post/2")
                                img(src="images/post_icon.png")
                                h3.postHeading OPEC Decision Making
                                p.postText In advance of OPEC's November 30 meeting in Vienna, at which they will seek to reach agreement on a production cut to between 32.5 and 33 mbd, it is worth reflecting on historic dynamics in the cartel...
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post/3")
                                img(src="images/post_icon.png")
                                h3.postHeading OPEC Agreement - 30 November 2016
                                p.postText With OPEC having reaffirmed their Algiers commitment to cut production, attention now turns to the details of the agreement and, of course, what actions are actually taken by OPEC...

            div.row
                div.col-lg-12.col-md-12
                    div.pageSwitchContainer
                        h3.pagination 
                            span.activePage 1 
                            span.inactivePage 2 3 ...10
    section.footerBlock
        include footer