extends layout
block content
    section.postsHeader
        div.postsImage
    section.postsContent
        div.container
            div.row
                div.col-lg-12.col-md-12
                    h3.serviceHeading Posts

                    div.row.post-row
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        div.col-lg-6.col-md-6.post-column
                            a.textWraper(href="/post")
                                img(src="images/post_icon.png")
                                h3.postHeading Impressive Title
                                p.postText Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi


            div.row
                div.col-lg-12.col-md-12
                    div.pageSwitchContainer
                        h3.pagination 
                            span.activePage 1 
                            span.inactivePage 2 3 ...10
    section.footerBlock
        include footer