body
   font-family: "Open Sans" !important;
//============================= Menu ========================================
.navbar-brand 
	height:100px !important;
	.brandName
		font:700 19px/32px "Cormorant Garamond";
		text-transform:uppercase;
		text-align:center;
		color:#474747;
.navbar.navbar-default.navbar-static-top
	background-color:rgba(238,233,217,0.65);
	border:none !important;
	margin:0!important;
	position:absolute;
	width:100%;
	li
		a
			text-transform: uppercase;
			cursor:pointer;
			font: 600 14px/20px "Open Sans";	
			color:#2b2b2b !important;		
		a.clientArea
			background:#1991eb;
			border:1px solid #1991eb;
			color:#fafafa !important;
		a:hover 
			color:#1991eb !important;
		a.clientArea:hover 
			background: #fafafa!important;
			color:#1991eb !important;
	ul.dropdown-menu
		background:rgb(238,233,217)
		
		li
			width:100%;

			a
				margin:10px 0;

@media (min-width: 320px) and (max-width: 767px)
	.nav
		padding:0 15px;
	.navbar-collapse
		background:rgb(238,233,217);
	.navbar-brand
		padding:20px 0 0 15px;
	
@media (min-width: 768px)
	.navbar-brand
		padding:20px 0 0 0;
	.navbar.navbar-default
		li
			display:inline-block;
			float:none !important;
			a
				padding:4px 19px !important;
				margin:35px 0;

@media (min-width: 768px) and (max-width: 991px)
	.navbar.navbar-default
		li
			a
				padding:4px 5px !important;

	.nav.navbar-nav.navbar-right
		padding-right:15px;

//@media (min-width: 992px) and (max-width: 1199px)
//@media (min-width: 1200px)

//============================= Footer ========================================

footer
	font:100 14px/18px "Open Sans";
	
	background:#2b2b2b;
	span 
		color:#fafafa;
		display:inline-block;
		margin:21px 0;
	a 
		display:inline-block;
		text-decoration:underline;
		text-align:center;
		cursor:pointer;
		color:#fafafa;
		margin:21px 0;
	a:hover 
		color:#fafafa;

@media (min-width: 320px) and (max-width: 767px)		
	footer
		text-align:center;

//============================= Home Page Request Trial  ========================================
section.reqTrial
	background:url("/images/home_bg.png") no-repeat;
	background-size:cover;
	position:relative;
	h1 
		text-transform:uppercase;
	a.req 
		width:165px;
		height:40px;
		padding:0!important;
		margin:45px 0 0 0;
		background-color:#fafafa !important;
		color: #2b2b2b;
		border:1px solid #fafafa !important;
		border-radius:0!important;
		font:600 16px/40px "Open Sans";
		text-transform:uppercase;
	a.req:hover 
		background:#1991eb !important;
		color:#fafafa!important;
	a.moveLink
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top:inherit;
		bottom:52px;
		left:50%;
		margin:0 0 0 -25px;
		background: #fafafa;
		color:#1991eb;
		border:1px solid #fafafa; 
		border-radius: 100%;
		cursor:pointer;
	a.moveLink:before
		font-size: 30px;
		width: 30px;
		height: 30px;
		position: absolute;
		margin: -15px 0 0 -15px;
		top: 50%;
		left: 50%;
		font-weight: 100;
	a.moveLink:hover 
		background:#1991eb;
		color:#fafafa;

@media (min-width: 320px) and (max-width: 374px)
	section.reqTrial
		h1
			font: 900 16px/24px "Open Sans";
			padding: 0 0 0 0;
			margin: 100px 0 0 0;
		h3
			font: 14px/18px "Open Sans";
			padding: 0 0 0 0;
			margin: 0 0 0 0;
@media (min-width: 375px) and (max-width: 424px)
	section.reqTrial
		h1
			font: 900 16px/24px "Open Sans";
			padding: 0 0 0 0;
			margin: 120px 0 0 0;
		h3
			font: 14px/18px "Open Sans";
			padding: 0 0 0 0;
			margin: 0 0 0 0;
@media (min-width: 425px) and (max-width: 767px)
	section.reqTrial
		h1
			font: 900 16px/24px "Open Sans";
			padding: 0 0 0 0;
			margin: 140px 0 0 0;
		h3
			font: 14px/18px "Open Sans";
			padding: 0 0 0 0;
			margin: 0 0 0 0;

@media (min-width: 768px) and (max-width: 991px)
	section.reqTrial
		h1
			font: 900 28px/30px "Open Sans";
			margin: 16% 0 0 0;
		h3
			font: 16px/22px "Open Sans";

@media (min-width: 992px) and (max-width: 1199px)
	section.reqTrial
		h1
			font: 900 28px/36px "Open Sans";
			padding: 0 300px 0 0;
			margin: 11% 0 0 0;
		h3
			font: 18px/22px "Open Sans";
			padding: 0 240px 0 0;
			margin: 0 0 0 0;

@media (min-width: 1200px) 
	section.reqTrial
			h1
				font: 900 36px/42px "Open Sans";
				padding: 0 300px 0 0;
				margin: 12% 0 0 0;
			h3
				font: 24px/35px "Open Sans";
				padding: 0 240px 0 0;
				margin: 0 0 0 0;

//============================= Home Page Value Points  ========================================
.valuePoints
	.sectionHeader
		text-align:center;
		h3 
			font-weight:600;
			font-family:"Open Sans";
			text-align:center;
			color:#1991eb;
		p
			padding: 0 10px;
			font:300 16px/18px "Open Sans";  
			color:#909090;
			margin: 0 0 20px 0;
	.sectionContent
		color:#2b2b2b;
		for i in 1 2 3 4
			.col-lg-3:nth-child({i})
				.circle
					.circleImg
						background: url("/images/spriteHomePage.png") no-repeat (i - 1) * -66px   0px;
		.circle 
			width:130px;
			height:130px;
			border:2px solid #2b2b2b;
			border-radius:100%;
			margin:0 auto;
			background: #dcdce6;
			position:relative;
			
			.circleImg
				width:66px;
				height:66px;
				position:absolute;
				margin: -33px 0 0 -33px;
				left: 50%;
				top: 50%;
		div.underCircleText
			font:300 16px/24px "Open Sans"; 
			margin:10px 0 30px 0;
			text-align:center;
			
//============================= Home Page Text Information Block  ========================================

.textInformation
	padding:30px 0 0 0;
	background:#f2f2f2;
	p
		font: 100 20px/30px "Open Sans";
		margin: 0 0 40px 0;

//============================= Home Page Client Block  ========================================
.client
	.sectionHeader
			text-align:center;
			h3 
				font-weight:600;
				text-align:center;
				color:#1991eb;
	.sectionContent
		color:#2b2b2b;
		for i in 1 2 3 4 5 6 7 8 9
			.col-lg-4:nth-child({i})
				.circle
					.circleImg
						background: url("/images/spriteHomePage.png") no-repeat (i - 1) * -66px  -66px;
						width:66px;
						height:66px;
						position:absolute;
						margin: -33px 0 0 -33px;
						left: 50%;
						top: 50%;
		.circle
			position:relative; 
			width:66px;
			height:66px;
			margin:0 auto;
		div.underCircleText
			font:100 20px "Open Sans"; 
			margin:10px 0 30px 0;
			text-align:center;

//@media (min-width: 320px) and (max-width: 767px)
//@media (min-width: 768px) and (max-width: 991px)
//@media (min-width: 768px)
//@media (min-width: 992px) and (max-width: 1199px)
//@media (min-width: 1200px) 

//============================= About Page Company Description Block ======================================== 

.companyInfoHeader 
	height: 500px; 

.companyImage
	background: url(/images/about_bg.png) 50% 0% / cover no-repeat; 
	height: 100%; 

@media (min-width: 1200px) 
	.companyInfoHeader
		height: 700px; 

.companyInfo
	text-align: center; 
	h3 
		font-weight:600;
		font-family:"Open Sans";
		text-align:center;
		color:#1991eb;
	p
		font: 100 20px/30px "Open Sans";
		margin: 0 0 40px 0; 
		text-align: left; 

.underline 
    font-weight: 500;
    border-bottom: 1px solid;  

@media (max-width: 767px) 
		p.companyDescription
			text-align: justify;
			-moz-text-align-last: center;
			text-align-last: center;

//============================= About Page Team Description Block ======================================== 

.teamInfo 
	background-color: #f2f2f2; 

.teamHeading 
	height: 165px; 
	margin-bottom: 10px;

.teamBanner 
	background: url(/images/meet_team_bg.png) 50% 0% / cover no-repeat; 
	height: 100%; 
	width: 100%; 
	text-align: center; 
	display: table;
	h1 
		text-transform: uppercase;  
		color: #fff; 
		padding: 20px; 
		margin: 0 0 0 0; 
		display: table-cell; 
		vertical-align: middle; 
		font-weight: 700;

.teamImgContainer
	
	height: 160px;
	width: 160px; 
	border-radius: 50%; 
	margin: 0 auto;
	margin-top: 15px;  
	div
		width: 100%; 
		height: 100%; 
	.teamImg1 
		background: url(/images/mark.png) 50% 0% / cover no-repeat; 
	.teamImg2 
		background: url(/images/daniel.png) 50% 0% / cover no-repeat; 
	.teamImg3
		background: url(/images/adam.png) 50% 0% / cover no-repeat;
	.teamImg4
		background: url(/images/jaquie.png) 50% 0% / cover no-repeat;  

.teamMember 
	padding: 10px 10px 10px 20px!important;
	text-align: center;  
	p.team-subheading
		padding: 0;
		font: 300 16px/18px "Open Sans";
		color: #909090;
		margin-bottom: 15px; 
	p.team-member-description 
		margin: 0 !important;
		font-size: 15px;
		line-height: 23px;
		padding: 0 15px 10px 15px;
		height: 160px;
		text-align: justify;
		-moz-text-align-last: center;
		text-align-last: center;

.team-row 
	margin: 0!important; 

.team-member-stats 
	padding: 0!important; 
.inner-container 
	background-color: #fafafa; 
	-webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);  

@media (min-width: 768px) and (max-width: 1199px)
	p.team-member-description 
		height: 200px!important;

@media screen and (max-width: 767px) 
	p.team-member-description 
		height: 210px!important; 

@media (max-width: 400px) 
	p.team-member-description 
		height: 325px !important; 

//============================= About Page Request Trial Button ========================================

section.trialBtn
	padding-top: 10px;  
	background-color: #f2f2f2;  

.trialBtnContainer 
	background-color: #1991eb;
	height: 100px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: -5px; 
	margin-bottom: 20px; 
	text-align: center;
	a.req 
		width:165px;
		height:40px;
		padding:0!important;
		background-color:#fafafa !important;
		color: #2b2b2b;
		border:1px solid #fafafa !important;
		border-radius:0!important;
		font:600 16px/40px "Open Sans";
		text-transform: uppercase; 
		margin-top: 30px; 

	a.req:hover 
		background:#1991eb !important;
		color:#fafafa!important; 

//============================= Country Page Header ======================================== 

.countryHeader
	height: 500px; 

.countryImage
	background: url(/images/country_bg.png) 50% 0% / cover no-repeat; 
	height: 100%; 


//============================= Country Page Content ========================================

.postMarkSectionWrap 
    padding: 30px 15px 45px 15px;

.postmarkContainer 
	padding: 5px !important;
	height: 395px;
	background-color: #1991eb; 

.postMark 
	height: 100%; 
	width: 100%;  
	background: url(/images/post_mark.png) 50% 0% / cover no-repeat; 
	background-size: 100% auto; 

div.countryTextContainer
	height: 395px; 

h3.countryHeading
	margin-bottom: 30px; 
	margin-left: 25px;

p.countryText
	font: 100 20px/30px "Open Sans";
	margin: 0 0 40px 25px; 
	text-align: justify; 

.countryBtnContainer 
	background-color: #1991eb;
	height: 100px;  
	text-align: center; 
	margin-left: 10px; 
	margin-right: -15px;

	a.req 
		width:240px;
		height:40px;
		padding:0!important;
		background-color:#fafafa !important;
		color: #2b2b2b;
		border:1px solid #fafafa !important;
		border-radius:0!important;
		font:600 16px/40px "Open Sans";
		text-transform: uppercase; 
		margin-top: 30px; 

	a.req:hover 
		background:#1991eb !important;
		color:#fafafa!important;  

.block-tile 
	position: absolute; 
	width: 100%; 
	padding: 15px 0;

.bottom-tile 
	bottom: 0; 
	padding: 0 15px; 

@media (max-width: 991px)
	div.row.block-tile 
		position: static;  
		width: unset; 
		padding: 0;
	div.row.bottom-tile
		padding: 0; 
	div.postMark 
		background-size: auto 100%; 
	div.countryBtnContainer
		margin: 0;
	h3.countryHeading
		margin-left: 0; 
	p.countryText
		margin: 0 0 40px 0; 
	div.countryTextContainer
		height: unset; 

//============================= Country Page Footer ======================================== 

section.footerBlock
	width: 100%;
	position: absolute;

//============================= History Page Header ======================================== 

.historyHeader
	height: 500px; 

.historyImage
	background: url(/images/history_bg.png) 50% 0% / cover no-repeat;  
	bacgkround-size: 100% auto;
	height: 100%; 

@media (min-width: 1200px)
	.historyHeader 
		height: 700px; 

//============================= History Page Content ======================================== 

section.historyContent
	background-color: #f2f2f2; 
	padding-bottom: 45px; 

.historyPhotoContainer
	width: 360px;
	height: 590px; 

div.historyContentWrap 
	padding-top: 30px;

.whiteBox 
	background-color: #fff; 

.photo
	background: url(/images/history_photo.png) 50% 0% / cover no-repeat; 
	width: 100%; 
	height: 100%; 
	border-radius: 2px;

div.contentBox
	-webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);  

div.historyTextContainer
	padding: 15px 15px 1px 15px; 

p.historyText
	font: 100 17px/29px "Open Sans";
	margin: 0 0 20px 0;
	text-align: left; 

@media (max-width: 1200px) 
	div.historyPhotoContainer
		width: 360px;
		height: 602px;
	p.historyText
		font: 100 15px/22px "Open Sans"; 

@media (max-width: 991px)
	div.historyPhotoContainer
		margin: 0 auto;
		margin-bottom: 30px; 

@media (max-width: 400px) 
	div.historyPhotoContainer
		width: unset; 
 
//============================= History Page Footer ========================================  

section.historyFooter 

	width: 100%;
	position: absolute;

