body
   font-family: "Open Sans" !important;
//============================= Menu ========================================
.navbar-brand 
	height:100px !important;
	.brandName
		font:700 19px/32px "Cormorant Garamond";
		text-transform:uppercase;
		text-align:center;
		color:#474747;
.navbar.navbar-default.navbar-static-top
	background-color:rgba(238,233,217,0.65);
	border:none !important;
	margin:0!important;
	position:absolute;
	width:100%;
	li
		a
			text-transform: uppercase;
			cursor:pointer;
			font: 600 14px/20px "Open Sans";	
			color:#2b2b2b !important;		
		a.clientArea
			background:#1991eb;
			border:1px solid #1991eb;
			color:#fafafa !important;
		a:hover 
			color:#1991eb !important;
		a.clientArea:hover 
			background: #fafafa!important;
			color:#1991eb !important;
	ul.dropdown-menu
		background:rgb(238,233,217)
		
		li
			width:100%;

			a
				margin:10px 0;

@media (min-width: 320px) and (max-width: 767px)
	.nav
		padding:0 15px;
	.navbar-collapse
		background:rgb(238,233,217);
	.navbar-brand
		padding:20px 0 0 15px;
	
@media (min-width: 768px)
	.navbar-brand
		padding:20px 0 0 0;
	.navbar.navbar-default
		li
			display:inline-block;
			float:none !important;
			a
				padding:4px 19px !important;
				margin:35px 0;

@media (min-width: 768px) and (max-width: 991px)
	.navbar.navbar-default
		li
			a
				padding:4px 5px !important;

	.nav.navbar-nav.navbar-right
		padding-right:15px;

//@media (min-width: 992px) and (max-width: 1199px)
//@media (min-width: 1200px)

//============================= Footer ========================================

footer
	font:100 14px/18px "Open Sans";
	
	background:#2b2b2b;
	span 
		color:#fafafa;
		display:inline-block;
		margin:21px 0;
	a 
		display:inline-block;
		text-decoration:underline;
		text-align:center;
		cursor:pointer;
		color:#fafafa;
		margin:21px 0;
	a:hover 
		color:#fafafa;

@media (min-width: 320px) and (max-width: 767px)		
	footer
		text-align:center;

//============================= Home Page Request Trial  ========================================
section.reqTrial
	background:url("/images/home_bg.png") no-repeat;
	background-size:cover;
	position:relative;
	h1 
		text-transform:uppercase;
	a.req 
		width:165px;
		height:40px;
		padding:0!important;
		margin:45px 0 0 0;
		background-color:#fafafa !important;
		color: #2b2b2b;
		border:1px solid #fafafa !important;
		border-radius:0!important;
		font:600 16px/40px "Open Sans";
		text-transform:uppercase;
	a.req:hover 
		background:#1991eb !important;
		color:#fafafa!important;
	a.moveLink
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top:inherit;
		bottom:52px;
		left:50%;
		margin:0 0 0 -25px;
		background: #fafafa;
		color:#1991eb;
		border:1px solid #fafafa; 
		border-radius: 100%;
		cursor:pointer;
	a.moveLink:before
		font-size: 30px;
		width: 30px;
		height: 30px;
		position: absolute;
		margin: -15px 0 0 -15px;
		top: 50%;
		left: 50%;
		font-weight: 100;
	a.moveLink:hover 
		background:#1991eb;
		color:#fafafa;

@media (min-width: 320px)
	section.reqTrial
		h1
			font: 900 20px/24px "Open Sans";
			padding: 0 0 0 0;
			margin: 40% 0 0 0;
		h3
			font: 14px/20px "Open Sans";
			padding: 0 0 0 0;
			margin: 0 0 0 0;
@media (min-width: 768px) and (max-width: 991px)
	section.reqTrial
		h1
			font: 900 36px/42px "Open Sans";
			margin: 18% 0 0 0;
		h3
			font: 24px/35px "Open Sans";

@media (min-width: 992px) and (max-width: 1199px)
	section.reqTrial
		h1
			font: 900 36px/42px "Open Sans";
			padding: 0 300px 0 0;
			margin: 11% 0 0 0;
		h3
			font: 24px/35px "Open Sans";
			padding: 0 240px 0 0;
			margin: 0 0 0 0;

@media (min-width: 1200px) 
	section.reqTrial
			h1
				font: 900 36px/42px "Open Sans";
				padding: 0 300px 0 0;
				margin: 14% 0 0 0;
			h3
				font: 24px/35px "Open Sans";
				padding: 0 240px 0 0;
				margin: 0 0 0 0;

//============================= Home Page Value Points  ========================================
.valuePoints
	.sectionHeader
		text-align:center;
		h3 
			font-weight:600;
			font-family:"Open Sans";
			text-align:center;
			color:#1991eb;
		p
			padding: 0 10px;
			font:300 16px/18px "Open Sans";  
			color:#909090;
			margin: 0 0 20px 0;
	.sectionContent
		color:#2b2b2b;
		for i in 1 2 3 4
			.col-lg-3:nth-child({i})
				.circle
					.circleImg
						background: url("/images/spriteHomePage.png") no-repeat (i - 1) * -66px   0px;
		.circle 
			width:130px;
			height:130px;
			border:2px solid #2b2b2b;
			border-radius:100%;
			margin:0 auto;
			background: #dcdce6;
			position:relative;
			
			.circleImg
				width:66px;
				height:66px;
				position:absolute;
				margin: -33px 0 0 -33px;
				left: 50%;
				top: 50%;
		div.underCircleText
			font:300 16px/24px "Open Sans"; 
			margin:10px 0 30px 0;
			text-align:center;
			
//============================= Home Page Text Information Block  ========================================

.textInformation
	padding:30px 0 0 0;
	background:#f2f2f2;
	p
		font: 100 20px/30px "Open Sans";
		margin: 0 0 40px 0;

//============================= Home Page Client Block  ========================================
.client
	.sectionHeader
			text-align:center;
			h3 
				font-weight:600;
				text-align:center;
				color:#1991eb;
	.sectionContent
		color:#2b2b2b;
		for i in 1 2 3 4 5 6 7 8 9
			.col-lg-4:nth-child({i})
				.circle
					.circleImg
						background: url("/images/spriteHomePage.png") no-repeat (i - 1) * -66px  -66px;
						width:66px;
						height:66px;
						position:absolute;
						margin: -33px 0 0 -33px;
						left: 50%;
						top: 50%;
		.circle
			position:relative; 
			width:66px;
			height:66px;
			margin:0 auto;
		div.underCircleText
			font:100 20px "Open Sans"; 
			margin:10px 0 30px 0;
			text-align:center;

//@media (min-width: 320px) and (max-width: 767px)
//@media (min-width: 768px) and (max-width: 991px)
//@media (min-width: 768px)
//@media (min-width: 992px) and (max-width: 1199px)
//@media (min-width: 1200px) 